**Import Pandas Module**

In [ ]:
import numpy as np
import pandas as pd

**Load data From Automobile_data.csv  and store into Auto_Data DataFrame**

**To Display First 5 and Last 5 Rows**

**Check Null Value from dataset**

**Print most expensive car’s company name and price.**

**Print All Toyota Cars details**

**Count total cars per company**

**Find each company’s Higesht price car**

**Find the average mileage of each car making company**

**Sort all cars by Price column**

**Create following Dicts,  and Concatenate those two dictionary and create a key for each data frame.**<br/>
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}<br/>
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

**Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.**<br/>
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}<br/>
Car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}